{% extends "teacher/base.html" %}
{% block title %} Profile {% endblock title %}
{% block content %}
<div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teacher_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- <section class="section mb-3">
    <div class="btn-group" role="group" aria-label="Menu">
      <a
        role="button"
        class="btn btn-outline-primary btn-sm"
        href="{% url 'view_courses' %}"
        ><i class="bi bi-eye me-2"></i>View</a
      >
      <a
        role="button"
        class="btn btn-outline-primary btn-sm"
        href="{% url 'add_course' %}"
        ><i class="bi bi-plus me-2"></i>Add</a
      >
    </div>
  </section> -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle me-1"></i>
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                  {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{teacher.photo_url}}" alt="{{teacher.user.fullname}}" class="rounded-circle">
            <h2>{{teacher.user.fullname}}</h2>
            <h3>{{ teacher.user.get_role_display }}</h3>
            <div class="social-links mt-2">
              <a href="mailto:{{teacher.user.email}}" class="email" target="_"><i class="bi bi-envelope"></i></a>
              <a href="tel:+91{{teacher.user.phone_no}}" class="phone" target="_"><i class="bi bi-phone"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
            
                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label ">User ID</div>
                    <div class="col-lg-9 col-md-8">{{teacher.user.userid}}</div>
                  </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{teacher.user.fullname}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{teacher.user.email}}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone Number</div>
                    <div class="col-lg-9 col-md-8">{{teacher.user.phone_no}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Role</div>
                    <div class="col-lg-9 col-md-8">{{ teacher.user.get_role_display }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Department</div>
                    <div class="col-lg-9 col-md-8">{{ teacher.department }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Status</div>
                    <div class="col-lg-9 col-md-8">
                        {% if teacher.user.is_active %}
                            <span class="badge rounded-pill bg-success">Active</span>
                        {% else %}
                        <span class="badge rounded-pill bg-danger">Inactive</span>
                        {% endif %}
                    </div>
                  </div>
                  
              </div>
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock content %}