{% extends "administrator/base.html" %} 
{% block title %} Add Teachers to Attendance Book {% endblock title %}
{% block content %}

<div class="pagetitle">
  <h1>Add Teachers to Attendance Book</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_attendance_books' %}">Attendance Books</a></li>
      <li class="breadcrumb-item">Add Teachers to Attendance Book</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %} {% if message.tags == 'success' %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <i class="bi bi-check-circle me-1"></i>
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %} {% if message.tags == 'error' %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <i class="bi bi-exclamation-octagon me-1"></i>
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %} {% endfor %}
      </ul>
      {% endif %}

      <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <i class="bi bi-exclamation-octagon me-1"></i>
          <b>Important Note: </b><br>
          Please don't click on back button & do not refresh the page. Select the Staff (Select atleast 1 Staff to Attendance Book, Don't leave empty) and Confirm, then click on <b>Add Teacher & Next</b> button to add Students in next step.
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Select Teachers to Attendance Book</h5>

          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-primary mb-3">
              Add Teachers & Next<i class="bi bi-arrow-right ms-2"></i>
            </button>
            <!-- Table with stripped rows -->

            <div class="form-check mt-2 mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="selectAllTeachers"
              />
              <label class="form-check-label" for="selectAllTeachers">
                Select All
              </label>
            </div>
            <!-- <input type="checkbox" id="selectAllTeachers" class="form-control"/> -->

            <table class="table table-bordered nowrap display" id="teachersTable">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Staff ID</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Department</th>
                </tr>
              </thead>
              <tbody>
                {% for teacher in teachers %}
                <tr>
                  <td>
                    <input
                      type="checkbox"
                      name="teachers"
                      value="{{ teacher.user.userid }}"
                      class="teacherCheckbox form-check-input"
                    />
                  </td>
                  <td>{{ teacher.user.userid }}</td>
                  <td>
                    <img
                      src="{{ teacher.photo_url }}"
                      alt="{{ teacher.user.fullname }}"
                      title="{{ teacher.user.fullname }}"
                      style="height: 80px"
                    />
                  </td>
                  <td>{{ teacher.user.fullname }}</td>
                  <td>{{ teacher.department }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    // Initialize DataTables
    $("#teachersTable").DataTable({
      pageLength: 150,
      lengthMenu: [150,500, 1000, 1500, 2000, 2500, 3000,4000,5000],
      searching:false
    }
    );

    // Select All Teachers
    $("#selectAllTeachers").click(function () {
      $(".teacherCheckbox").prop("checked", this.checked);
    });

    // If any teacher checkbox is unchecked, uncheck Select All
    $(".teacherCheckbox").click(function () {
      if (!$(this).prop("checked")) {
        $("#selectAllTeachers").prop("checked", false);
      }
    });
  });
</script>
{% endblock content %}
