{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block title%}{%endblock title%} | Attendance Master</title>

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.snow.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.bubble.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/simple-datatables/style.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap5.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.1.4/css/dataTables.bootstrap5.css"
    />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a
          href="{% url 'admin_dashboard' %}"
          class="logo d-flex align-items-center"
        >
          <img
            src="{% static 'assets/img/logo.png' %}"
            alt="AttendanceMaster"
          />
          <span class="d-none d-lg-block">Attendance Master</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span> </a
            ><!-- End Notification Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
            >
              <li class="dropdown-header">
                You have 4 new notifications
                <a href="#"
                  ><span class="badge rounded-pill bg-primary p-2 ms-2"
                    >View all</span
                  ></a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div>
                  <h4>Lorem Ipsum</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>30 min. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li class="dropdown-footer">
                <a href="#">Show all notifications</a>
              </li>
            </ul>
            <!-- End Notification Dropdown Items -->
          </li>
          <!-- End Notification Nav -->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span> </a
            ><!-- End Messages Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages"
            >
              <li class="dropdown-header">
                You have 3 new messages
                <a href="#"
                  ><span class="badge rounded-pill bg-primary p-2 ms-2"
                    >View all</span
                  ></a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img
                    src="{% static 'assets/img/messages-1.jpg' %}"
                    alt=""
                    class="rounded-circle"
                  />
                  <div>
                    <h4>Maria Hudson</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="dropdown-footer">
                <a href="#">Show all messages</a>
              </li>
            </ul>
            <!-- End Messages Dropdown Items -->
          </li>
          <!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                src="{% static 'assets/img/profile-img.jpg' %}"
                alt="Profile"
                class="rounded-circle"
              />
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >K. Anderson</span
              > </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6>Kevin Anderson</h6>
                <span>Web Designer</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="pages-faq.html"
                >
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_dashboard' %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-heading">User Management</li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#teachers-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Teachers</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="teachers-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'view_teachers' %}">
                <i class="bi bi-circle"></i><span>View Teachers</span>
              </a>
            </li>
            <li>
              <a href="{% url 'add_teacher' %}">
                <i class="bi bi-circle"></i><span>Add Teacher</span>
              </a>
            </li>
            <li>
              <a href="{% url 'upload_teachers_csv' %}">
                <i class="bi bi-circle"></i><span>Upload Teachers CSV</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Teacher Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#students-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Students</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="students-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'view_students' %}">
                <i class="bi bi-circle"></i><span>View Students</span>
              </a>
            </li>
            <li>
              <a href="{% url 'add_student' %}">
                <i class="bi bi-circle"></i><span>Add Student</span>
              </a>
            </li>
            <li>
              <a href="{% url 'upload_students_csv' %}">
                <i class="bi bi-circle"></i><span>Upload Student CSV</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Students Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#hod-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i
            ><span>Head Of Department</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="hod-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'view_teachers' %}">
                <i class="bi bi-circle"></i><span>View HOD's</span>
              </a>
            </li>
            <li>
              <a href="{% url 'add_teacher' %}">
                <i class="bi bi-circle"></i><span>Add HOD</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End HOD Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#admin-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Admin</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="admin-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'view_teachers' %}">
                <i class="bi bi-circle"></i><span>View Admins</span>
              </a>
            </li>
            <li>
              <a href="{% url 'add_teacher' %}">
                <i class="bi bi-circle"></i><span>Add Admin</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End AdminNav -->

        <li class="nav-heading">Academics Management</li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#department-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i
            ><span>Departments</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="department-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'view_departments' %}">
                <i class="bi bi-circle"></i><span>View Departments</span>
              </a>
            </li>
            <li>
              <a href="{% url 'add_department' %}">
                <i class="bi bi-circle"></i><span>Add Department</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Department Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#courses-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Courses</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="courses-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'view_courses' %}">
                <i class="bi bi-circle"></i><span>View Courses</span>
              </a>
            </li>
            <li>
              <a href="{% url 'add_course' %}">
                <i class="bi bi-circle"></i><span>Add Course</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Course Nav -->

        <li class="nav-heading">Attendance Management</li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#attendance-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i
            ><span>Attendance Books</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="attendance-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'view_attendance_books' %}">
                <i class="bi bi-circle"></i><span>View Attendance Books</span>
              </a>
            </li>
            <li>
              <a href="{% url 'add_attendance_book' %}">
                <i class="bi bi-circle"></i><span>Add Attendance Book</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Course Nav -->

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      {% block content %}{% endblock content %}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright &copy; 2024
        <strong><span>Attendance Master</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        Developed by
        <a href="https://infatoz.com" target="_">Infatoz Technologies LLP</a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
