{% extends "administrator/base.html" %}
{% block title %} Delete Teacher - {{ teacher.user.fullname }} {% endblock title %}
{% block content %}
<div class="pagetitle">
    <h1>Delete Teacher</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Teachers</a></li>
        <li class="breadcrumb-item">Delete Teacher</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <h2>Confirm Delete</h2>
        <p>Are you sure you want to delete the teacher "{{ teacher.user.fullname }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'view_teachers' %}" class="btn btn-secondary">Cancel</a>
        </form>
  </section>
{% endblock content %}