{% extends "administrator/base.html" %}
{% block title %} Delete Course - {{ course.name }} {% endblock title %} 
{% block content %}

<div class="pagetitle">
  <h1>Delete Course</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_courses' %}">Courses</a></li>
      <li class="breadcrumb-item">Delete Course</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Confirm Delete?</div>
        <div class="card-body">
          <p class="card-title">
            Are you sure you want to delete the course
            <strong
              >{{ course.name }} ({{ course.course_id }})</strong
            >?
          </p>
        </div>
        <div class="card-footer">
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="bi bi-check-lg me-2"></i>Delete
            </button>
            <a href="{% url 'view_courses' %}" class="btn btn-secondary btn-sm"
              ><i class="bi bi-x-lg me-2"></i>Cancel</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
