{% extends "administrator/base.html" %} 
{% block title %} Edit Teacher {% endblock title %}
{% block content %}

<div class="pagetitle">
  <h1>Edit Teacher</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_teachers' %}">Teachers</a></li>
      <li class="breadcrumb-item">Edit Teacher</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      
      <!-- Display form errors in an alert -->
      {% if user_form.errors or teacher_form.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        <ul>
          {% for field, errors in user_form.errors.items %}
          <li>{{ field|capfirst }}: {{ errors|striptags }}</li>
          {% endfor %} {% for field, errors in teacher_form.errors.items %}
          <li>{{ field|capfirst }}: {{ errors|striptags }}</li>
          {% endfor %}
        </ul>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} 
      
      {% if messages %}
      <ul class="messages">
        {% for message in messages %} {% if message.tags == 'success' %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <i class="bi bi-check-circle me-1"></i>
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %} {% if message.tags == 'error' %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <i class="bi bi-exclamation-octagon me-1"></i>
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %} {% endfor %}
      </ul>
      {% endif %}

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit Teacher</h5>
          <form method="post">
            {% csrf_token %} {{ user_form.as_p }} {{ teacher_form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="bi bi-save me-2"></i>Save Changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
