{% extends "administrator/base.html" %} 
{% block title %} Send SMS {% endblock title %}
{% block content %}

<div class="pagetitle">
  <h1>Send SMS</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_students' %}">Send SMS</a></li>
      <li class="breadcrumb-item">Send SMS</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<!-- <section class="section mb-3">
  <div class="btn-group" role="group" aria-label="Menu">
    <a
      role="button"
      class="btn btn-outline-primary btn-sm"
      href="{% url 'view_students' %}"
      ><i class="bi bi-eye"></i> View</a
    >
    <a
      role="button"
      class="btn btn-outline-primary btn-sm"
      href="{% url 'add_student' %}"
      ><i class="bi bi-plus"></i> Add</a
    >
    <a
      role="button"
      class="btn btn-outline-primary btn-sm"
      href="{% url 'upload_students_csv' %}"
      ><i class="bi bi-upload"></i> Upload</a
    >
  </div>
</section> -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <!-- Display form errors in an alert -->
      {% if user_form.errors or student_form.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        <ul>
          {% for field, errors in user_form.errors.items %}
          <li>{{ field|capfirst }}: {{ errors|striptags }}</li>
          {% endfor %} {% for field, errors in student_form.errors.items %}
          <li>{{ field|capfirst }}: {{ errors|striptags }}</li>
          {% endfor %}
        </ul>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% if messages %}
      <ul class="messages">
        {% for message in messages %} {% if message.tags == 'success' %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <i class="bi bi-check-circle me-1"></i>
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %} {% if message.tags == 'error' %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <i class="bi bi-exclamation-octagon me-1"></i>
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %} {% endfor %}
      </ul>
      {% endif %}

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Send SMS</h5>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="selected_date">Select Date</label>
              <input name="selected_date" type="date" class="form-control" id="selected_date" placeholder="Please select date to send sms" required>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Send SMS to Absentees</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
